.favorite{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 36px;
    padding: 20px;

    .favorite-center{
        width: 1330px;
        height: inherit;
        border: 1px solid #e0e0e2;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .favorite-center-top{
            display: flex;
            font-family: var(--fontfamily);
            margin-top: 30px;
            margin-bottom: 30px;
            h3{
                font-weight: 500;
            }
        }
       
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px !important;
          }
          .swiper-slide-inner{
            width: 100%;
            height: 100%;
            margin-bottom: 20px !important;
            .swiper-slide-inner-item{
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start !important;
                align-items: center;
                padding: 10px;
                column-gap: 8px;
                .item-line{
                    width: 170px;
                    height: 1px;
                    background-color:#f0f0f1;
                    margin-right: 112px;
                }
                .item-linee{
                    width: 170px;
                    height: 1px;
                    background-color:#f0f0f1;
                    margin-right: 126px;
                }
                img{
                    width: 86px;
                    height: 86px;
                }
                span{
                    font-family: var(--fontfamily);
                    font-size: 28px;
                    color: #19BFD3;
                    font-weight: bold;
                }
                .more{
                    width: 20px;
                    font-size: 28px;
                }
                .dd{
                    margin-right: 7px;
                    width: 180px;
                }
                p{
                    font-family: var(--fontfamily);
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    line-clamp: 2;
                    overflow: hidden;
                    width: 60%;
                    opacity: 0.7;
                    line-height: 25px;
                    text-align: right;
                }
            }
          }
    }
}