.undercaption {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  .undercaption-center{
    width: 1330px;
    height: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #81858b;
    font-family: var(--fontfamily);
    font-size: 11px;
  }
}
